@charset "utf-8";
/* CSS Document */


.quicksand-<uniquifier> {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

header {
	background-color: #FCE6F0; /* papercat pink */
}
body {
  background-color: #ffffff;  /* white */
}

nav ul li a {
	text-decoration: none;
	color:#86A1D3;
	font-size: 25px;
	font-weight: bold;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

footer {
	color: #86A1D3;
	text-align: center;
	padding: 10px;
	background-color:#FFFFFF;
}
