@charset "utf-8";
/* CSS Document */

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #ffffff;
    color: #86A1D3;
    line-height: 1.6;
}

h1 {
    font-weight: 700;
    letter-spacing: 1px;
}

a {
    color: #86A1D3;
}

a:hover {
    color: #FCE6F0;
}


header {
	background-color: #FCE6F0; /* papercat pink */
}

nav ul li a {
	text-decoration: none;
	color:#86A1D3;
	font-size: 25px;
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
}

footer {
	color: #86A1D3;
	text-align: center;
	padding: 10px;
	background-color:#FFFFFF;
}
