@charset "utf-8";
/* CSS Document */

h1 {
    
}
h2 {}

h3{}

h4{}

nav ul li a {
	text-decoration: none;
	color:#86A1D3;
	font-size: 25px;
	font-weight: bold;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

footer {
	color: #86A1D3;
	text-align: center;
	padding: 10px;
	background-color:#FFFFFF;
}
