@charset "utf-8";
/* CSS Document */

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #ffffff;
    color: #86A1D3;
    line-height: 1.6;
}

h1 {
    font-weight: 700;
    letter-spacing: 1px;
}

h2 {
	text-align: center,
}
	
a {
    color: #86A1D3;
	text-decoration: none;
}

a:hover {
    color: #784144;
}

header {
	background-color: #FCE6F0; /* papercat pink */
	text-align: center;
}

.logo img {
    height: 200px; /* adjust based on your logo */
    width: auto;
    display: block;
    margin: 0 auto 25px auto;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
}

/* ===== Portfolio Grid ===== */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
}

.gallery img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.03);
    opacity: 0.8;
}

footer {
	color: #86A1D3;
	text-align: center;
	padding: 20px;
    margin-left: 0px;
	background-color:#FFFFFF;
}
