@charset "utf-8";
/* CSS Document */

h1 {
    
}
h2 {}

h3{}

h4{}

nav ul li a {
	text-decoration: none;
	color:#E04AB6;
	font-size: 25px;
	font-weight: bold;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
footer {
	color: #61594C;
	text-align: center;
	padding: 10px;
	background-color:#70A7EA;
	
}
